h5 {
  font-family: Montserrat, sans-serif;
}

/*test {
  color: purple;
  text-align: center;
  text-decoration: overline;
  padding: 15px;
  background-color: MediumSeaGreen;
  width: 25%
} */
img {
  width: 100% !important;
  max-width: 200px !important;
}
